@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.glass-nav {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
}

.selection\:bg-rose-100 ::selection {
    background-color: #ffe4e6;
}

.selection\:text-rose-900 ::selection {
    color: #881337;
}
