@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.brand-logo {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    letter-spacing: -0.02em;
}

.glass-nav {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
}

.selection\:bg-gray-100 ::selection {
    background-color: #f3f4f6;
}

.brand-logo {
    font-weight: 900;
    letter-spacing: -0.05em;
    color: #111827;
    text-transform: uppercase;
    font-size: 1.25rem;
    /* text-xl */
}

.selection\:text-gray-900 ::selection {
    color: #111827;
}